<h3>Post Form</h3>


<%= form_for @post do |f| %>
  <label>Post title: <%= f.text_field :title %></label>
  <label>Post Description: <%= f.text_area :description %></label>
  <%= f.submit %>
<% end %>